<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="to-do">
         <property
               name="appName"
               value="to-do">
         </property>
        
          -->
         <property
               name="lifeCycleURI"
               value="bundleclass://com.amitinside.e4.rcp.todo/com.amitinside.e4.rcp.todo.lifecycle.NewManager">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
          <!-- Primarily used to specify css file to use for the E4 Application -->
         <property
               name="applicationCSS"
               value="platform:/plugin/com.amitinside.e4.rcp.todo/css/jeeeyul.css">
         </property>
         <!-- Used for testing purposes
         <property
               name="rendererFactoryUri"
               value="bundleclass://com.amitinside.e4.renderer.swt/com.example.e4.renderer.swt.MyRendererFactory">
         </property>
         -->
         <!-- commented to simplify SWTBot test example
         <property
               name="lifeCycleURI"
               value="bundleclass://com.amitinside.e4.rcp.todo/com.example.e4.rcp.todo.lifecycle.LifeCycleManager">
         </property>
         -->
      </product>
   </extension>

   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="css/jeeeyul.css"
            id="com.amitinside.e4.rcp.todo.default"
            label="Default Theme">
      </theme>
      <theme
            basestylesheeturi="css/rainbow.css"
            id="com.amitinside.e4.rcp.todo.rainbow"
            label="Rainbow">
      </theme>
      <theme
            basestylesheeturi="css/custom.css"
            id="com.amitinside.e4.rcp.todo.custom"
            label="Custom">
      </theme>
   </extension>
</plugin>
