<?xml version="1.0" encoding="UTF-8"?>
<scr:component xmlns:scr="http://www.osgi.org/xmlns/scr/v1.1.0" name="com.amitinside.e4.rcp.todo.emf.service">
   <implementation class="com.amitinside.e4.rcp.todo.emf.service.EMFTodoServiceContextFunction"/>
   <property name="service.context.key" type="String" 
   		value="com.amitinside.e4.rcp.model.emf.service.ITodoEMFService"/>
   <service>
      <provide interface="org.eclipse.e4.core.contexts.IContextFunction"/>
   </service>
</scr:component>
